#banner{
  text-align: center;
  background-image: url("images/BanniereNewCo.png");
  background-size: cover;
  padding: 150px;
  color: black;
  text-shadow: 1px 1px 5px black;
}
#banner h1 {
  color: white;
  font-size: 50px;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}

#footer {
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}

#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}
.btn-perso {
  width: 500px;
}
.logo-perso {
  width: 150px

}

.padded {
  padding: 100px 100px 100px;
}

.btn-test {
  margin-left: 60px;
}

.clear {
  text-decoration-color: blue;
  
}
